<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>dolpen.net</title>

</head>
<body>
<p>ここにはなにもない</p>

<ul>
  <li>Twitter:<a href="http://twitter.com/dolpen">dolpen</a></li>
  <li>Twitch:<a href="http://www.twitch.tv/dolpenia_dolpen">dolpenia_dolpen</a></li>
  <li>ポ:<a href="http://www.dolpen.net/">www.dolpen.net</a></li>
  <li>レタプ:<a href="http://squid.dolpen.net/">squid.dolpen.net</a></li>
  <li>ポポポ:<a href="http://minecraft.dolpen.net/">minecraft.dolpen.net</a></li>
</ul>

</body>
</html>
