<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>原始共産制</title>
  <script type="text/javascript">
    window.onload = function(){
      var show = function(message){
        var stats = document.querySelector('#status');
        stats.textContent = message;
      };
      var req = new XMLHttpRequest();
      req.open('GET', 'https://api.minetools.eu/query/<%= node['minecraft']['domain']['raw'] %>/25565', true);
      req.onload = function() {
        var success = this.status >= 200 && this.status < 400;
        if(!success)return;
        var resp = JSON.parse(this.response);
        var list = resp['Playerlist'];
        show(list?(list.join(',')+' がプレイ中'):'誰もいないようです');

      };
      req.onerror = function(e) {
        show('状態取得に失敗しました。。。');
      };
      req.send();
    };
  </script>
</head>
<body>
<h1>原始共産制</h1>

<h2>状態</h2>

<div id="status">状態を取得しています</div>

<h2>ルール</h2>

<ul>
  <li>全てのユーザーはアドベンチャーモードでスタートし、観戦者となる</li>
  <li>管理者に許可されたユーザーだけがサバイバルモードに移行し、プレイヤーとなる</li>
  <li>管理者は @dolpen のみだが、管理者の増加や変更などが発生する</li>
</ul>

<h2>基本情報</h2>

<table>
  <thead>
  <tr>
    <th>どれ</th>
    <th>どう</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>場所</td>
    <td><%= node['minecraft']['domain']['play'] %></td>
  </tr>
  <tr>
    <td>ポート</td>
    <td>デフォルト(25565)</td>
  </tr>
  <tr>
    <td>難易度</td>
    <td>イージー</td>
  </tr>
  <tr>
    <td>人数</td>
    <td><%= node['minecraft']['capacity'] %></td>
  </tr>
  <tr>
    <td>基礎バージョン</td>
    <td><%= node['minecraft']['version'] %></td>
  </tr>
  </tbody>
</table>

<h2>メンテナンス情報</h2>

<table>
  <thead>
  <tr>
    <th>なに</th>
    <th>いつ</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>セーブデータの<a href="/backup">バックアップ</a></td>
    <td>毎日 18:00</td>
  </tr>
  <tr>
    <td>サーバープロセスの再起動</td>
    <td>毎日 19:00</td>
  </tr>
  <tr>
    <td>前日<a href="/chat">チャットログ</a>の抽出</td>
    <td>毎日 19:30</td>
  </tr>
  </tbody>
</table>

</body>
</html>
